<div class="container">
  <app-go-back-button></app-go-back-button>

  <div class="quest-card" *ngIf="currentQuest">
    <h3>{{ currentQuest?.title }}</h3>
    <p>{{ currentQuest?.description }}</p>
    <p><strong>Tienes que sacar un</strong> {{ currentQuest?.difficulty }}</p>
  </div>

  <button (click)="getRandomQuest()">Coger carta</button>
  <button (click)="rollDice()" [disabled]="!currentQuest">Tirar Dado</button>

  <div class="result" *ngIf="questResult">
    <span>{{ questResult }}</span>
    <span *ngIf="questSuccess" class="success">✅</span>
    <span *ngIf="!questSuccess" class="failure">❌</span>
  </div>
</div>