<div class="body">
  <h1>'Aquí yace Pablinho la Hidra'</h1>

  <nav>
    <ul>
      <li><a routerLink="/abc" href="abc">ABC</a></li>
      <li><a routerLink="/dado" href="dado">Dungeons and Trips</a></li>
      <li><a routerLink="/caracoles" href="caracoles">Carrera de Ratas</a></li>
      <li><a routerLink="/frases" href="frases">Frases iconicas</a></li>
      <li><a routerLink="/ruleta" href="ruleta">Ruleta</a></li>
      <li><a routerLink="/makelele" href="makelele">Makelele</a></li>
      <li><a routerLink="/autobus" href="autobus">Autobús Infernal</a></li>
    </ul>
  </nav>

</div>
